<div class="card-body">
  <div class="row">
    <div class="col-md-2">Search Artist:</div>
    <div class="col-md-4">
      <input
        type="text"
        [(ngModel)]="searchstring"
        (keyup)="searchArtist()"
        placeholder="Search for artist"
      />
    </div>
  </div>

  <div class="row">
    <div class="column" *ngFor="let artist of artists">
      <div class="card">
        <img
          [src]="artist.picture_big"
          [title]="artist.name"
          style="width:100%"
        />
        <p style="font-weight: bolder;">{{ artist.name }}</p>
        <p class="title">Total Number of Fans</p>
        <p>{{ artist.nb_fan | number }}</p>

        <p>
          <button routerLink="/artist/{{ artist.id }}">
            View Artist Details
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
