<div id="intro" class="view">
  <div>
    <div
      class="container-fluid d-flex align-items-center justify-content-center h-100"
    >
      <div class="row d-flex justify-content-center text-center">
        <div class="col-md-10">
          <h2 class="display-4 font-weight-bold white-text pt-5 mb-2"></h2>

          <hr class="hr-light" />

          <h4 class="white-text my-4"></h4>
          <br />
          <br />
          <button
            type="button"
            class="btn btn-outline-white"
            style="color: white;"
             routerLink="/artist"

          >
            Search Artists<i class="fa fa-search ml-2"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
